# Collector specific configuration
base_url: "https://api.hpc.tools/v"
test_url: "https://github.com/OCHA-DAP/hdx-scraper-fts/raw/main/tests/fixtures/input/"
notes: "FTS publishes data on humanitarian funding flows as reported by donors and recipient organizations. It presents all humanitarian funding to a country and funding that is specifically reported or that can be specifically mapped against funding requirements stated in humanitarian response plans. The data comes from OCHA's [Financial Tracking Service](https://fts.unocha.org/) and is encoded as utf-8."

plans_headers:
  - date
  - budgetYear
  - description
  - amountUSD
  - srcOrganization
  - srcOrganizationTypes
  - srcLocations
  - srcUsageYearStart
  - srcUsageYearEnd
  - destPlan
  - destPlanCode
  - destPlanId
  - destOrganization
  - destOrganizationTypes
  - destGlobalClusters
  - destLocations
  - destProject
  - destProjectCode
  - destEmergency
  - destUsageYearStart
  - destUsageYearEnd
  - contributionType
  - flowType
  - method
  - boundary
  - onBoundary
  - status
  - firstReportedDate
  - decisionDate
  - keywords
  - originalAmount
  - originalCurrency
  - exchangeRate
  - id
  - refCode
  - createdAt
  - updatedAt

requirements_headers:
  - countryCode
  - id
  - name
  - code
  - typeId
  - typeName
  - startDate
  - endDate
  - year
  - clusterCode
  - cluster
  - requirements
  - funding
  - percentFunded
  - covidFunding
  - covidPercentageOfFunding

rename_columns:
  totalFunding: funding
  revisedRequirements: requirements
  clusterName: cluster

country_all_columns_to_keep:
  - date
  - budgetYear
  - description
  - amountUSD
  - srcOrganization
  - srcOrganizationTypes
  - srcLocations
  - srcUsageYearStart
  - srcUsageYearEnd
  - destPlan
  - destPlanCode
  - destPlanId
  - destOrganization
  - destOrganizationTypes
  - destGlobalClusters
  - destLocations
  - destProject
  - destProjectCode
  - destEmergency
  - destUsageYearStart
  - destUsageYearEnd
  - contributionType
  - flowType
  - method
  - boundary
  - onBoundary
  - status
  - firstReportedDate
  - decisionDate
  - keywords
  - originalAmount
  - originalCurrency
  - exchangeRate
  - id
  - refCode
  - createdAt
  - updatedAt

hapi_dataset:
  name: "hdx-hapi-funding"
  title: "HDX HAPI - Coordination & Context: Funding"

hapi_resource:
  name: "Global Coordination & Context: Funding"
  description: "Funding data from HDX HAPI, please see [the documentation](https://hdx-hapi.readthedocs.io/en/latest/data_usage_guides/coordination_and_context/#funding) for more information"

hapi_headers:
  - location_code
  - has_hrp
  - in_gho
  - appeal_code
  - appeal_name
  - appeal_type
  - requirements_usd
  - funding_usd
  - funding_pct
  - reference_period_start
  - reference_period_end
  - dataset_hdx_id
  - resource_hdx_id
  - warning
  - error
